.post {
    text-align: left;
    width: 282px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
    border: 1px solid #444;
    background: #2E2E2E;

}

.post:hover {
    transform: translate(0, -1rem);
    border: 1px solid var(--cinza-claro-1)
}

.capa {
    width: 100%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    padding: 0 1.2rem;
    align-items: flex-start;

}


.titulo {

    font-size: 1rem;
    color: var(--branco);
    font-family: 'Inter-Medium';
    margin: 0.8rem 0;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.descricao {
    font-family: 'Inter-Regular';
    color: var(--cinza-claro-1);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;   
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Define o número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.8rem;

}

@media (max-width: 1100px) {
    .post {
        width: 336px;
    }

    .titulo {
        font-weight: 600;
    }

    .botaoLer {
        padding: 0.6875rem 1.5rem;
        font-size: 1.375rem;
    }
}