@font-face {
  font-family: 'LiberationMono-Bold';
  src: url('assets/fonts/LiberationMono-Bold.ttf');
}

@font-face {
  font-family: 'LiberationMono-Regular';
  src: url('assets/fonts/LiberationMono-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('assets/fonts/Inter-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --preto-1: #121212;
  --preto-0: #0F0F0F;
  
  --branco-1: #ffffff;
  --branco-2: #f5f5f5;
  
  --cinza-claro-1: #8e8e8e;
  --cinza-claro-2: #363636;
  --cinza-claro-3: #B0B0B0;
  
  --cinza-escuro: #242424;
  
  --verde-claro: #138253;
  --verde-escuro: #006239; 

  
  --azul-escuro: #041833;
  --azul-medio: #1875E8;
  --cor-fonte-principal: #041833;
  --cor-fonte-post: #444444;
  --branco: #FFF;
  --fonte-principal: 'LiberaionMono-Bold', sans-serif;
  --fonte-secundaria: 'LiberationMono-Regular', sans-serif;
  --fonte-adicional: 'Inter-Medium', sans-serif;

  font-family: var(--fonte-principal);
  background: linear-gradient(180deg, #0f0f0f 0%, #0f0f0f 88.4%, #000 100%);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}